div {
    width: 400px;
    height: 330px;
    background-color: aquamarine;
}
h1 {
    width: 100px;   
    background-color: #98f5e1;
    padding-left: 100px; 
    padding-top: 50px;
    margin:0;
}
#one {
    background-color: #cfbaf0;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-left: 50px;

}
#two {
    background-color: #3f37c9;
    border-color: #f1faee;
    border-width: 2px;
    border-style: dashed;
    /* border-left-width: 4px; */
    margin-bottom: 50px;
}
#three {
    background-color: #003049;
    border: 5px solid #52b788;
}
body {
    background-color: #e5e5e5;
    margin:0;
}
#search {
    font-size: larger;
    /* border-radius: 10px; */
    border-radius: 20px;
    padding-left: 10px;

}
#submit{
    font-size: larger;
    padding: 4px;
    font-weight: 700;
    background-color: #219ebc;
    border-radius: 20px;
}
#pad {
    padding: 10px;
    background-color: #e5e5e5;
}
#bar {
    padding-left: 600px;
}
