section {
    width: 80%;
    height: 800px;
    background: center/cover no-repeat url("https://images.unsplash.com/photo-1651047493663-bc21171d7f41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"), cornflowerblue;
    /* background-size: cover;
    background-position: center; */
    margin: 0 auto;


}

h1 {
    font-size: 70px;
    color: white;
}
