section {
    border: 3px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}








/* div {
    background-color: blue;
    width: 50%;
    height: 20%;
}
h1 {
    font-size: 20px;
    border: 1px solid black;
    line-height: 1.5em;
    
}
button {
    font-size: 1em;
    background-color: aquamarine;
    border-radius: 0.5em;
}
p { 
    font-size: 0.8em;
}
article {
    font-size: 20px;
}
ul { 
    font-size: 1.5rem;
} */















/* span {
    background-color: palevioletred;
    border: 1px solid black;
    width: 500px;
    padding: 50px;
    margin: 50px;

}
h1 {
    background-color: turquoise;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    margin: 30px;
}
div {
    width: 100px;
    height: 100px;
    background-color: olivedrab;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
} */
